#! /bin/bash
{% if not (public|bool) %}
    {% for host in groups['mh_node_internal'] %}
    echo "grant all on matterhorn.* to '{{ lookup('env', 'PROVISION_MYSQL_MH_USER') }}'@'{{ host }}' identified by '{{ lookup('env', 'PROVISION_MYSQL_MH_PASSWD') }}';" >> /tmp/grant.sql
    echo "grant all on matterhorn.* to '{{ lookup('env', 'PROVISION_MYSQL_MH_USER') }}'@'{{ hostvars[host]['ansible_fqdn'] }}' identified by '{{ lookup('env', 'PROVISION_MYSQL_MH_PASSWD') }}';" >> /tmp/grant.sql
    {% endfor %}
{% endif %}

{% if (public|bool) %}
    {% for host in groups['mh_node_public'] %}
    echo "grant all on matterhorn.* to '{{ lookup('env', 'PROVISION_MYSQL_MH_USER') }}'@'{{ host }}' identified by '{{ lookup('env', 'PROVISION_MYSQL_MH_PASSWD') }}';" >> /tmp/grant.sql
    echo "grant all on matterhorn.* to '{{ lookup('env', 'PROVISION_MYSQL_MH_USER') }}'@'{{ hostvars[host]['ansible_fqdn'] }}' identified by '{{ lookup('env', 'PROVISION_MYSQL_MH_PASSWD') }}';" >> /tmp/grant.sql
    {% endfor %}
{% endif %}

# guarantees at least one working line in sql script
# workaround for vagrant provisioning
echo "show databases;" >> /tmp/grant.sql
